#——GENERATED——>
#
dist
build
public

#——ENVIRONMENT——>
#
.env
.env.*
.vscode
node_modules

#——CACHE——>
#
.cache
.eslintcache
.parcel-cache

#——COVERAGE——>
#
*.lcov
lib-cov
coverage
.nyc_output

#——SYSTEM——>
#
.npm
*.tgz
.DS_Store
npm-debug.log*
